<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="serviceItem"  id="ho_shad" class="services_box text_align_left">
    <div class="service-image">
        <img data-image="" alt="">
    </div>
    <div class="service-details">
        <div class="service-name" data-name=""></div>
        <div class="service-price" data-price=""></div>
        <div class="service-description" data-description=""></div>
        <div class="service-duration" data-duration=""></div>
    </div>
    <button class="service-favorite" data-id="">♡</button>
</div>
<script>

</script>
</html>