/* Teal theme */
.border-teal {
    border: 2px solid #00796B !important;
}

.btn-teal {
    background-color: #00796B;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}
.btn-teal:hover {
    background-color: #004D40;
}

.btn-secondary {
    background-color: #757575;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}
.btn-secondary:hover {
    background-color: #616161;
}

#search-btn {
    background-color: #008080;
    color: white;  /* Chữ màu trắng */
      /* Padding cho nút */
    border: none;
    border-radius: 5px;  /* Bo góc nút */
    cursor: pointer;  /* Thay đổi con trỏ khi hover */
    transition: background-color 0.3s ease;
}