<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spa Booking</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
</head>
<body class="main-layout">
<div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="#"/></div>
</div>
<header class="header-area">
    <div class="container">
        <div class="row d_flex">
            <div class=" col-md-3 col-sm-3">
                <div class="logo">
                    <a href="index.html">Bliss</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="navbar-area">
                    <nav class="site-navbar">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="service.html">Service</a></li>
                            <li><a class="active" href="booking.html">Booking</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                        <button class="nav-toggler">
                            <span></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="booking">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Book a Spa Service</h2>
                    <p>Select the service, date, and time that best suits you.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label for="service">Service:</label>
            <div class="select-box">
                <select id="service" class="wide">
                    <option value="">Choose a service</option>
                    <th:block th:each="service : ${services}">
                        <option th:value="${service.serviceId}"
                                th:data-name="${service.name}"
                                th:data-description="${service.description}"
                                th:data-duration="${service.duration}"
                                th:data-price="${service.price}"
                                th:data-category="${service.category}"
                                th:text="${service.name}">
                        </option>
                    </th:block>
                </select>

            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px;">
            <table border="1" class="table" id="serviceTable">
                <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Price (VND)</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const select = document.getElementById("service");
                        const tbody = document.querySelector("#serviceTable tbody");
                        const addedServiceIds = new Set();
                        const selectedServiceIdsInput = document.getElementById("selectedServiceIds");

                        select.addEventListener("change", function () {
                            const option = this.options[this.selectedIndex];
                            const serviceId = option.value;

                            if (!serviceId || addedServiceIds.has(serviceId)) return;

                            const name = option.getAttribute("data-name");
                            const description = option.getAttribute("data-description");
                            const duration = option.getAttribute("data-duration");
                            const price = option.getAttribute("data-price");
                            const category = option.getAttribute("data-category");

                            const row = document.createElement("tr");
                            row.innerHTML = `
                                <td>${serviceId}</td>
                                <td>${name}</td>
                                <td>${description}</td>
                                <td>${duration} minutes</td>
                                <td>${price}</td>
                                <td>${category}</td>
                            `;

                            tbody.appendChild(row);
                            addedServiceIds.add(serviceId);
                            const selectedServiceIds = Array.from(addedServiceIds);
                            selectedServiceIdsInput.value = selectedServiceIds.join(",");
                        });
                    });
                </script>
                </tbody>
            </table>
        </div>

        <form id="request" class="main_form" method="POST" action="/confirm">
            <div class="row">
                <input type="hidden" id="selectedServiceIds" name="serviceId" />
                <div class="col-md-6">
                    <label for="date">Date:</label>
                    <input id="date" class="form-control" type="text" name="date" placeholder="Date" >
                </div>
                <div class="col-md-6">
                    <label for="time">Time:</label>
                    <input id="time" class="form-control" type="time" name="time" placeholder="Time" >
                </div>
                <div class="col-md-12">
                    <label for="name">Your Name:</label>
                    <input id="name" class="form-control" type="text" name="name" placeholder="Your Name" >
                </div>
                <div class="col-md-12">
                    <label for="email">Email:</label>
                    <input id="email" class="form-control" type="email" name="email" placeholder="Email" >
                </div>
                <div class="col-md-12">
                    <label for="phone">Phone Number:</label>
                    <input id="phone"  class="form-control" type="tel" name="phone" placeholder="Phone Number" >
                </div>
                <div class="col-md-12">
                    <label for="comments">Special Requests/Comments:</label>
                    <textarea id="comments" class="textarea" name="message" placeholder="Special Requests/Comments"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="send_btn">Book Now</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="hedingh3 text_align_left">
                                <h3>About</h3>
                                <p>Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable sourc</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="hedingh3 text_align_left">
                                <h3>Blog</h3>
                                <p>Which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anythin</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="hedingh3 text_align_left">
                                <h3>Menu</h3>
                                <ul class="menu_footer">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a class="active" href="booking.html">Booking</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="hedingh3  text_align_left">
                                <h3>Newsletter</h3>
                                <form id="colof" class="form_subscri">
                                    <input class="newsl" placeholder="Email" type="text" name="Email">
                                    <button class="subsci_btn">Subscribe</button>
                                </form>
                                <ul class="top_infomation">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>
                                        +01 1234567890
                                    </li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                        <a href="Javascript:void(0)">demo@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="follow text_align_center">
                        <h3>Follow Us</h3>
                        <ul class="social_icon ">
                            <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>© 2020 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/custom.js"></script>
<script>

    function fetchUserProfile() {
      fetch('/api/user/profile')
      .then(response => {
          if (!response.ok) {
              throw new Error('Failed to fetch user profile');
          }
          return response.json();
      })
      .then(userData => {
          displayUserProfile(userData);
      })
      .catch(error => {
          console.error('Error fetching user profile:', error);
      });
  }

  function displayUserProfile(userData) {
      if(document.getElementById('name')){
        document.getElementById('name').value = userData.lastName + ' ' +  userData.firstName;
      }
      if (document.getElementById('email')){
        document.getElementById('email').value = userData.email;
      }
      if (document.getElementById('phone')){
        document.getElementById('phone').value = userData.phoneNumber;
      }

  }

  window.onload = fetchUserProfile;
</script>
</body>
</html>
